html, body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media (min-width: 768px){
    .uk-container-small {
        width: 700px;
    }
}

@media (min-width: 1600px){
    .uk-container-small {
        width: 900px;
    }
}

.uk-margin-center { text-align: center; }

/*导航栏字体大小*/
.uk-navbar-nav>li>a {
    font-size: 20px;
}